extends templates/main
block Content
	form.default
		.default__group
			select.default__select(name="status", aria-label="Selecione o status")
				option(value="1") Notícias ativas
				option(value="0") Notícias Excluídas
			input.default__input(type="text", name="title", placeholder="Título da notícia", aria-label="Busque sua notícia")
			button.button.button--orange(aria-label="Clique para realizar sua pesquisa", type="submit") #[.button--icon.icon.icon--search]
			a.button.button--green(href="/admin/noticias/formulario") ADICIONAR NOTÍCIA
	section.cards
		each news in allNews
			.card__wrapper
				.card
					figure.card__figure
						img.card__image(data-src=news.image, alt=news.title, title=news.title, loading="lazy")
					h1.card__title=news.title
					.card__footer
						.card__small
							.card__small__icon.icon.icon--calendar
							.card__small__text=formatDate(news.created_at)
						.card__buttons
							a.button.button--green.button--small(href=`/admin/noticias/formulario/${news.id}`) #[.icon.icon--edit]
							a.button.button--orange.button--small(href=`/admin/noticias/status/${news.id}`) #[.icon.icon--delete]