extends templates/main
block Content
	form.default(action="/admin/usuarios", method="GET")
		.default__group
			select.default__select(name="status", aria-label="Selecione o status")
				option(value="1") Usuários ativos
				option(value="0", selected=getParam('status') === '0') Usuários inativos
			input.default__input(type="text", name="email", placeholder="E-mail do usuário", aria-label="Insira o e-mail do usuário", value=getParam('email'))
			button.button.button--orange(aria-label="Clique para realizar sua pesquisa", type="submit") #[.button--icon.icon.icon--search]
			button.button.button--green(type="button", aria-label="Clique para adicionar outro usuário", data-modal="user") ADICIONAR USUÁRIO
		table.table
			tr.table__row
				th.table__cell E-mail
				th.table__cell Perfil
				th.table__cell Ações
			each user in users
				tr.table__row
					td.table__cell=user.email
					td.table__cell=user.admin ? 'Administrador' : 'Usuário'
					td.table__cell
						a.table__link(href=`/admin/usuarios/perfil/${user.id}`) Alterar perfil
						a.table__link(href=`/admin/usuarios/senha/${user.id}`) Gerar nova senha
						a.table__link(href=`/admin/usuarios/status/${user.id}`)=user.status ? 'Desativar' : 'Ativar'

	.modal#user
		.modal__content
			span.modal__close ×
			form.default(action="/admin/usuarios", method="POST")
				input.default__input(type="text", name="email", placeholder="E-mail", aria-label="Insira o e-mail do usuário")
				select.default__select(name="admin", aria-label="Selecione o perfil do usuário")
					option(value="0") Perfil
					option(value="0") Usuário
					option(value="1") Administrador
				button.button.button--green.button--fullwidth(type="submit", aria-label="Inserir usuário") ADICIONAR USUÁRIO